/* 
    Custom styles
 */
 body {
	margin: 0;
	padding: 0;
    color: #484848;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    align-items: center;
	}

/* 
    container
 */
.container {
    max-width: 1000px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}